<% @body_id = 'cart' %>
<%=error_messages_for :order%>
<h1><%= t("shopping_cart")%></h1>

<% form_for(@order, :url => object_url, :html => { :method => :put }) do |order_form| %>
  <%= render :partial => 'form', :locals => {:order_form => order_form} %>

		<div id="subtotal">
			<h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
			<!-- no reason for update since it is a single product aka subscription -->
		  <!-- <%= submit_tag t('update') %> -->
		<div class= "links">
			</div>
		</div>

	

		<% unless @order.line_items.empty? %>
		  <p id="clear_cart_link">
		    <small>
		      <%= link_to t("empty_cart"), object_url, :method => :delete  %>
		    </small>
		  </p>
		<% end %>

	<% end %>



	<div align="right" style="clear:both">
	<%if current_user %>
	  <%= render :partial => 'paypal_checkout' %>
	<%else %>
	<p>Please Sign Up or Log In with your username and password to start shopping.</p>
	<%end%>
	</div>
  


